<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="shortcut icon" href="{$basePath}/images/favicon.svg">
    {encore_css 'app'}
    {if $presenter->isLinkCurrent('Species:*')}
    {encore_js 'gallery'}
    {encore_css 'gallery'}
    {/if}

    <title>{_base.project.name}</title>
</head>

<body>
{include navigation}

<div id="content" class="container">
{include content}
</div>

{block footer}
<footer class="container d-grid grid-2">

<div>{_base.social_media}: <a href="https://www.instagram.com/crossborderplants/">Instagram</a> &bullet; <a href="https://www.facebook.com/groups/1153309673196666">Facebook</a> &bullet; <a href="https://bsky.app/profile/crossborderplants.bsky.social">BlueSky</a> &bullet; <a href="https://x.com/c_border_plants">X</a></div>
<div class="text-right">2025{if date('Y') > 2025}&ndash;{date('Y')}{/if} &bullet; {_base.project.name}</div>

</footer>
{/block}

</body>
{encore_js 'app'}
</html>
