<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {encore_css 'app'}
</head>

<body>
{block main}
<main class="content">
    <div class="container">
        {include content}
    </div>
</main>
{/block}
<footer></footer>
</body>
{encore_js 'app'}
</html>
