{define photo, $directory, $filename, $title, $author = null}
	<div class="labeled">
    <a class="picture-link" href="{$directory}/{$filename}"><img src="{$directory}/previews/{$filename}" /></a>
    <p>{$title|noescape}{if $author}, <span class="smallcaps">autor</span>: {$author|noescape}{/if}</p>
    </div>
{/define}