extensions:
	translation: Contributte\Translation\DI\TranslationExtension
	contributte.console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
	contributte.console.extra: Contributte\Console\Extra\DI\ConsoleBridgesExtension(%consoleMode%)

contributte.console:
	url: http://localhost/

translation:
	locales:
		whitelist: [cs,en, de]
		default: cs
		fallback: [cs_CZ, cs]
	dirs:
		- %appDir%/lang
	returnOriginalMessage: true # to not translate undefined messages, default is true
