// @import "@fortawesome/fontawesome-free/css/all.css";
// @import "bootstrap/dist/css/bootstrap.min.css";

:root {
    --primary: #5b3d29;
    --font: "Source Sans Pro";
    --spacer: 4px;
}

body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

pre {font-family: var(--font);}

#content, footer {padding: calc(var(--spacer) * 3);}

navigation {background: var(--primary); color: white; display: flex; align-items: center; justify-content: flex-start; padding: calc(var(--spacer) * 1);}
navigation img {height: 8rem; width: auto;}

.project-logos {display: flex; flex-wrap: wrap; gap: calc(var(--spacer) * 10); margin-top: calc(var(--spacer) * 5);}
.project-logos img {height: 4rem; width: auto;}