services:
    - App\Core\RouterFactory::createRouter
    - App\Services\WebDir(%wwwDir%)
    - App\Services\TempDir(%tempDir%)


search:
    in: %appDir%
    classes:
        - *Factory
        - *Service
