{layout '../Base/@layout.latte'}
{block navigation}
<navigation><img src="{$basePath}/images/project-logo-light.svg"></navigation>

<a class="{if $presenter->isLinkCurrent('Home:')}active{/if}" n:href="Home:">{_menu.homepage}</a>
<a class="{if $presenter->isLinkCurrent('Home:about')}active{/if}" n:href="Home:about">{_menu.about}</a>
<a class="{if $presenter->isLinkCurrent('Home:contact')}active{/if}" n:href="Home:contact">{_menu.contact}</a>
{/block}