project:
	name: "Pflanzen an der Grenze"

social_media: "Soziale Medien"

species:
	examples: "Beispiele"
	list: "Liste"

value:
	allowed: "erlaubt"
	declined: "abgelehnt"

cookies_message: "Diese Website kann analytische Cookies (Google Analytics) zur Auswertung der Besucherzahlen verwenden. Stimmen Sie ihrer Verwendung zu?"
cookies_message2: "Die Einstellungen können Sie jederzeit ändern."
cookies_setting: "Cookie-Einstellungen"