project:
	name: "Rostliny podél hranice"

search:
	new_search: "nové hledání"
	results_number: "počet výsledků"
	search: "hledat"
	search_results: "Nalezené záznamy"
	all: "Vše"

value:
	false: "NEPRAVDA"
	no: "ANO"
	true: "PRAVDA"
	yes: "NE"
	allowed: "povoleno"
	declined: "zakázáno"

action:
	accept: "Souhlasím"
	close: "zavřít"
	open: "otevřít"
	save: "uložit"
	search: "hledat"
	download: "stáhnout"
	loading: "načítání"
	continue: "pokračovat"
	moreinfo: "více informací"
	detail: "detail"
	more: "více"
	error: "Chyba: "
	next: "Předchozí"
	previous: "Další"
	decline: "Nesouhlasím"

seo:
    keywords: "cévnaté rostliny, rostliny, flóra, květena, databáze, botanika"
    description: ""
    author: "Jihočeská univerzita"
social_media: "Sociální sítě"

cookies_message: "Tento web může využívat analytické cookies (Google Analytics) za účelem posuzování návštěvnosti. Souhlasíte s jejich použitím?"
cookies_message2: "Nastavení můžete pak kdykoliv změnit."
cookies_setting: "Nastavení cookies"

species:
	examples: "Příklady"
	list: "Seznam"
