Czechia: "Tschechische Republik"
Austria: "Österreich"

institutions:
    department: "Lehrstuhl für Botanik"
    department2: "Naturwissenschaftliche Fakultät"
    universitySouth: "Die Südböhmische Universität České Budějovice"
    nationalParkSumava: "Nationalparkverwaltung Šumava"
    natureConservationAgency: "Agentur für Natur- und Landschaftsschutz der Tschechischen Republik"
    natureConservationAgency2: "Regionalbüro Südböhmen"
    ooLandesCulture: "OÖ Landes-Kultur GmbH"
    universityVienna: "Universität Wien"
    universityVienna2: "Fakultät für Lebenswissenschaften"
    universityVienna3: "Botanik und Biodiversitätsforschung"

stech_description: "Hauptkoordinator des Projekts, Datenbankverwaltung, Kommunikation mit Partnern, Erfassung von Artverbreitungsdaten, Koordination der Überprüfung kritischer Gruppen, Forschungskoordination, Kommunikation mit Partnern und Einheimischen, Projektpräsentation, Leitung von Exkursionen und Workshops"

boublik_description: "Erfassung von Vegetationsdaten, Feldforschung mit Schwerpunkt auf gefährdeten Biotopen, Erstellung eines langfristigen Plans zum Schutz der Pflanzendiversität mit Fokus auf Vegetationsveränderungen ihrer Standorte, Leitung von Workshops und Exkursionen"

brozova_position: "PR-Managerin"

bunesova_position: "Projektmanagerin"

kebert_position: "Websiteadministration"

kotilinek_description: "Erfassung von Artverbreitungsdaten mit Schwerpunkt auf kritischen Gruppen, Erstellung eines langfristigen Plans zum Schutz spezialisierter Pflanzengruppen und ihrer Biotope"

lepsi_description: "Erfassung von Artverbreitungsdaten mit Schwerpunkt auf kritischen Gruppen, Erstellung eines langfristigen Plans zum Schutz spezialisierter Pflanzengruppen und ihrer Biotope, Leitung von Workshops und Exkursionen"

lucanova_description: "Erfassung von Artverbreitungsdaten mit Schwerpunkt auf invasiven Pflanzen, Forschungskoordination, Datenanalyse aus molekularen und zytometrischen Analysen, Erstellung eines langfristigen Plans zum Schutz der Pflanzendiversität aus Sicht der Populationsgenetik"

manukjanova_description: "Technische Durchführung zytometrischer und molekularer Analysen, Analyse der ersten Rohstufen molekularer Techniken"

novotny_description: "Programmierung und Datenbankverwaltung, Analyse und Auswertung räumlicher Daten, Software-Lösung für Citizen-Science-Datenerfassung"

collaborating_botanists: "Kooperierende Botaniker"

rouckova_description: "Monitoring gefährdeter Arten, Erfassung von Artverbreitungsdaten"

pubal_description: "Erfassung von Artverbreitungsdaten"

janakova_description: "Erstellung eines langfristigen Plans zum Schutz der pflanzlichen Biodiversität, Erfassung von Pflanzenverbreitungsdaten"

wild_description: "Bereitstellung einer Plattform für den Datenaustausch"

bures_description: "Koordination des Datenaustauschs über Artverbreitung"

brauchler_description: "Projektkoordinator, Datenbankverwaltung, Projektpräsentation, Kommunikation mit Partnern"

malicky_description: "Programmierung und Datenbankverwaltung"

kleesadl_description: "Erfassung von Artverbreitungsdaten"

nigl_description: "Datenaufbereitung zur Verknüpfung von Datenbanken"

reinthaler_description: "Datenaufbereitung zur Verknüpfung von Datenbanken"

ehrendorfer_description: "Bereitstellung von Daten aus der Universitätsdatenbank"


    



