news: "Aktuality"
introductory_meeting:
    title: "Zahajovací schůzka"
    text: "Na Katedře botaniky PřF JU v Českých Budějovicích proběhla 27. ledna 2025 zahajovací schůzka k projektu. Zástupci české i rakouské strany společně probrali náplň a cíle projektu a vytvořili plán aktivit na letošní rok."