news: "Neuigkeiten"
introductory_meeting:
    title: "Auftakttreffen"
    text: "Am 27. Januar 2025 fand am Lehrstuhl für Botanik der Naturwissenschaftlichen Fakultät der Südböhmischen Universität in České Budějovice das Auftakttreffen für das Projekt statt. Vertreter der tschechischen und österreichischen Seite diskutierten gemeinsam den Inhalt und die Ziele des Projekts und erstellten einen Aktivitätenplan für das laufende Jahr."