homepage: "Neuigkeiten"
about: "Über das Projekt"
activities: "Was wir tun"
publicity: "Veranstaltungen"
species: "Arten"
invasive: "Invasive Arten"
flagship: "Flaggschiff-Arten"
studied: "Studierte Arten"
species_list: "Artenliste"
contact: "Kontakt"
taxon_insert: "Taxonname..."