homepage: "Úvod"
about: "O projektu"
activities: "Co děláme"
publicity: "Pro veřejnost"
species: "Druhy"
invasive: "Invazní druhy"
flagship: "Vlajkové druhy"
studied: "Studované druhy"
species_list: "Seznam všech druhů"
contact: "Kontakty"