homepage: "Novinky"
about: "O projektu"
activities: "Co děláme"
publicity: "Události"
species: "Druhy"
invasive: "Invazní druhy"
flagship: "Vlajkové druhy"
studied: "Studované druhy"
species_list: "Seznam všech druhů"
contact: "Kontakty"
taxon_insert: "Jméno taxonu..."